################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/My project/Library/PackageCache/com.unity.collections@84e8eb3fc12e/Unity.Collections.LowLevel.ILSupport/source~/Unity.Collections.LowLevel.ILSupport.CodeGen
